default live
timeout 0
prompt 0

menu background splash.png
menu title Android 1.5 Touch Edition
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000
menu color tabmsg 0 #ffffffff #00000000
menu color unsel 0 #ffffffff #00000000
menu color hotsel 0 #ff000000 #ffffffff
menu color hotkey 7 #ffffffff #ff000000

label live
	menu label Live CD - Phone Edition
	kernel /kernel
	append initrd=/initrd.img root=/dev/ram0 androidboot.hardware=eeepc DPI=160 UVESA_MODE=800x600 quiet SRC= DATA= SDCARD=/dev/loop0